{{ form_start(form)}}


        {{ form_row(form.E_step3) }}
{{ form_row(form.note_6eme) }}
{{ form_row(form.note_bac) }}
{{ form_row(form.Attestation_reussite) }}
{{ form_row(form.carte_nationale) }}

<button type="submit" class="btn btn-custom" style="
    background-color: #001f3f;
    color: #fff; /* text blanc */
    padding: 9px 60px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    transition: background-color 0.3s ease;
">
    Save
</button>

{{ form_end(form) }}
