{% extends 'base.html.twig' %}

{% block title %}EtudiantStep2{% endblock %}

{% block body %}
    <h1>EtudiantStep2</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant_step2.id }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ etudiant_step2.niveau }}</td>
            </tr>
            <tr>
                <th>Note_math</th>
                <td>{{ etudiant_step2.noteMath }}</td>
            </tr>
            <tr>
                <th>Note_franc</th>
                <td>{{ etudiant_step2.noteFranc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_step2_index') }}">back to list</a>

    <a href="{{ path('app_etudiant_step2_edit', {'id': etudiant_step2.id}) }}">edit</a>

    {{ include('etudiant_step2/_delete_form.html.twig') }}
{% endblock %}
