{% extends 'admin/base.html.twig' %}


{% block title %}Responsable{% endblock %}
   

{% block body %}

<div class="section-body mt-4">
    <div class="container-fluid">
        <div class="tab-content">


            <div class="tab-pane active" id="Staff-add">
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">ACCOUNT INFORMATION</h3>
                            </div>
                            <div class="card-body">
                                {{ form_start(form) }}
                                    <div class="row clearfix">
                                        <div class="col-md-6 col-sm-12">
                                            {{ form_label(form.cin) }}
                                            {{ form_widget(form.cin, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            {{ form_label(form.nom) }}
                                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            {{ form_label(form.prenom) }}
                                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            {{ form_label(form.email) }}
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            {{ form_label(form.password) }}
                                            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            {{ form_label(form.image) }}
                                            {{ form_widget(form.image, {'attr': {'class': 'dropify'}}) }}
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            {{ form_label(form.faculte) }}
                                            {{ form_widget(form.faculte, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.Submit, {'attr': {'class': 'btn btn-primary'}}) }}
                                        </div>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}