{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}
    <h1>Etudiant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Cne</th>
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date_Naissance</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Genre</th>
                <th>Ville</th>
                <th>Adresse_postale</th>
                <th>Nationalite</th>
                <th>Profession_pere</th>
                <th>Profession_mere</th>
                <th>Gsm_mere</th>
                <th>Gsm_pere</th>
                <th>Mot_passe</th>
                <th>Confirm_pass</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.status ? 'Yes' : 'No' }}</td>
                <td>{{ etudiant.cne }}</td>
                <td>{{ etudiant.cin }}</td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.dateNaissance ? etudiant.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ etudiant.telephone }}</td>
                <td>{{ etudiant.email }}</td>
                <td>{{ etudiant.genre }}</td>
                <td>{{ etudiant.ville }}</td>
                <td>{{ etudiant.adressePostale }}</td>
                <td>{{ etudiant.nationalite }}</td>
                <td>{{ etudiant.professionPere }}</td>
                <td>{{ etudiant.professionMere }}</td>
                <td>{{ etudiant.gsmMere }}</td>
                <td>{{ etudiant.gsmPere }}</td>
                <td>{{ etudiant.motPasse }}</td>
                <td>{{ etudiant.ConfirmPass }}</td>
                <td>
                    <a href="{{ path('app_etudiant_show', {'id': etudiant.id}) }}">show</a>
                    <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_new') }}">Create new</a>
{% endblock %}
